<div class="row">
  <div class="col-sm-12 col-md-6">
    <form>
      <input id="mining_category" type="hidden" value="<%= @mining_category %>"/>
      <div class="form-group">
        <span id="lbUserName"><h1><%= @page_title %></h1></span>
        <button type="button" class="btn btn-success btn-sm" id="btnLogin">点击登录</button>
        <button type="button" class="btn btn-success btn-sm" style="display:none;" id="btnLogout">退出</button>
      </div>

      <div class="form-group">
        <label for="txtAmount">范围选择</label>
        96 <input type="radio" name="dice_count" value="96" checked/>
        95 <input type="radio" name="dice_count" value="95"/>
        94 <input type="radio" name="dice_count" value="94"/>
        93 <input type="radio" name="dice_count" value="93"/>
        92 <input type="radio" name="dice_count" value="92"/>
        91 <input type="radio" name="dice_count" value="91"/>
        75 <input type="radio" name="dice_count" value="75"/>
        50 <input type="radio" name="dice_count" value="50"/>
      </div>

      <div class="form-group">
        <label for="txtAmount">下注eos数（ < <span id="count_area">96</span>）</label>
        <input type="text" class="form-control" id="txtAmount" placeholder="输入注数" value="0.5000 EOS">
        <button type="button" class="btn btn-success btn-sm" id="btnUpdateAmount5">X2
          EOS</button>
        <button type="button" class="btn btn-success btn-sm" id="btnUpdateAmount6">1/2
          EOS</button>
      </div>

      <%= render 'minings/shared/common_setup' %>

      <div class="form-group">
        <button type="button" class="btn btn-primary btn-sm" id="btnStart">开始挖矿</button>
        <button type="button" class="btn btn-danger btn-sm" id="btnStop">结束挖矿</button>
      </div>
    </form>
  </div>

  <%= render 'minings/shared/history' %>
</div>

<script>
    $("input[name=dice_count]").on("change", function(){
        $("#count_area").html($(this).val());
    })
</script>