<div class="container">
  <h1>1小时内热门交易-前15名</h1>

  <div class="book_list row">
    <% @eos_knights.each  do |eos_knight| %>
        <div class="card" style="width: 22rem;margin: 5px">
          <div class="card-header">
            <%
              if eos_knight.item_sale?
                image_path = "/eos_knights/items/item_#{eos_knight.category_id}.png"
                obj_filter = "category_id=#{eos_knight.category_id}"
              else
                image_path = "/eos_knights/materials/rm_#{eos_knight.category_id}.png"
                obj_filter = "category_id=#{eos_knight.category_id}"
              end
            %>
            <a href="/dapps/eos_knights?<%= obj_filter %>">
              <img src="<%= image_path %>" style="width: 40px;"/>
            </a>
            <span style="color: red">
              <%= eos_knight.c %> 次
            </span>
          </div>

          <!--<div class="card-body">-->
            <!--<div>-->
            <!--</div>-->
            <!--<div>-->
            <!--</div>-->
          <!--</div>-->
        </div>
    <% end %>
  </div>
</div>

