<div id="panelSetup">
  <div class="form-group">
    <label for="txtAmount">押注次数达到自动停止</label>
    <input type="number" class="form-control" id="stop_count" placeholder="输入数字，不填则默认不停止。">
  </div>

  <div class="form-group"  style="display:none;">
    <label for="txtHttpEndpoint">节点</label>
    <input type="text" class="form-control" id="txtHttpEndpoint" aria-describedby="txtHttpEndpointHelp" placeholder="输入节点" value="https://api1.eosasia.one">
    <small id="txtHttpEndpointHelp" class="form-text text-muted">官方默认节点，可以使用一个更快的节点来挖</small>
  </div>
  <div class="form-group"  style="display:none;">
    <label for="txtBalanceUnder">余额下限</label>
    <input type="text" class="form-control" id="txtBalanceUnder" aria-describedby="txtBalanceUnderHelp" placeholder="输入边界" value="0">
    <small id="txtBalanceUnderHelp" class="form-text text-muted">低于这个下限不再挖矿，用户CPU资源不能地址10%，低于此值时脚本会停止并等待，默认值0不作限制</small>
  </div>
  <div class="form-group"  style="display:none;">
    <label for="txtCPUUnder">CPU限制(%)</label>
    <input type="text" class="form-control" id="txtCPUUnder" aria-describedby="txtCPUUnderHelp" placeholder="输入边界" value="10">
    <small id="txtCPUUnderHelp" class="form-text text-muted">用户CPU资源不能地址低于%，低于此值时脚本会停止并等待，默认值0不作限制</small>
    <button type="button" class="btn btn-warning btn-sm" style="padding:.12rem .25rem;" id="btnRent">一键租赁0.1EOS1天</button><span class="form-text text-muted" id="rentResult"></span>
  </div>
  <div class="form-group">
    <label for="txtTimeout">时间间隔(毫秒-ms)</label>
    <input type="text" class="form-control" id="txtTimeout" placeholder="Input txtTimeout" aria-describedby="txtTimeoutHelp" value="800">
    <button type="button" class="btn btn-info btn-sm" id="btnUpdateTimeout1">100</button>
    <button type="button" class="btn btn-info btn-sm" id="btnUpdateTimeout4">X2</button>
    <button type="button" class="btn btn-info btn-sm" id="btnUpdateTimeout5">1/2</button>
    <small id="txtTimeoutHelp" class="form-text text-muted">1秒=1000毫秒</small>
  </div>
</div>

<div class="form-group">
  <label for="txtReferrals">邀请人</label>
  <input type="text" class="form-control" id="txtReferrals" placeholder="Input Referrals" value="eostomoongog">
  <!--<small id="txtReferralsHelp" class="form-text text-muted">60%几率使用你填写的邀请人。</small>-->
</div>