<div class="col-sm-12 col-md-6">
  <form>
    <div class="form-group">
      <div style="    border: solid gray 1px;    border-radius: 5px;">当前余额：<span id="lbBalance"> EOS</span>，CPU可用百分比：<span id="lbCPUAvailable">%</span></div>
      <label for="txtResults">历史记录：(已经押注次数 <span id="yz_count">0</span>)</label>
      <textarea id="txtResults" class="form-control" style="height:605px; font-size:12px; " readonly="readonly"></textarea>
    </div>
  </form>
</div>