<div class="container margint-20">
  <div class="row">
    <div class="col-sm-12">
      <div class="row col-sm-12">
        <table class="table table-condensed">
          <% @notifications.each do |notification|%>
              <tr>
                <td>#</td>
                <td data-id="<%= notification.id %>">
                  <% if notification.read? %>
                      <%= notification.title %>
                  <%else %>
                      <a href="<%= read_notification_path(notification) %>" data-remote="true">
                        <%= notification.title %>
                      </a>
                  <% end %>
                </td>
              </tr>
          <%end %>
          <% if @notifications.blank? %>
              <tr>
                <td colspan="2" class="align-center">暂无消息</td>
              </tr>
          <%end %>
        </table>
      </div>
    </div>
  </div>
</div>