<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">EOS Dapps</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/dapps/eos_sanguos" data-no-turbolink="true">EOS三国</a>
    <a class="p-2 text-dark" href="/dapps/eos_sanguos/rank" data-no-turbolink="true">交易排行</a>
  </nav>
  <div class="">
    <label for="txtAccount"></label>
    <span id="lbUserName"></span>
    <button type="button" class="btn btn-info btn-sm" id="btnLogin">登陆</button>
    <button type="button" class="btn btn-info btn-sm" style="display:none;" id="btnLogout">退出</button>
  </div>
</div>
<div  style="display: none;">
  <div class="form-group">
    <label for="txtHttpEndpoint">节点</label>
    <input type="text" class="form-control" id="txtHttpEndpoint" aria-describedby="txtHttpEndpointHelp" placeholder="输入节点" value="https://node.betdice.one">
    <small id="txtHttpEndpointHelp" class="form-text text-muted">官方默认节点</small>
  </div>

  <div class="form-group">
    <label for="txtResults">监视面板</label>
    <div>当前余额：<span id="lbBalance"> EOS</span>，CPU可用百分比：<span id="lbCPUAvailable">%</span></div>
    <textarea id="txtResults" class="form-control" style="height:605px; font-size:12px; " readonly="readonly"></textarea>
  </div>
</div>


<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">EOS Dapps</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%="active" if controller_name == "eos_knights" && action_name == "index" %>">
        <a class="nav-link" href="/dapps/eos_knights" data-no-turbolink="true">Eosknights</a>
      </li>

      <li class="nav-item <%="active" if controller_name == "eos_knights" && action_name == "rank" %>">
        <a class="nav-link" href="/dapps/eos_knights/rank" data-no-turbolink="true">交易排行</a>
      </li>

      <li class="nav-item <%="active" if controller_name == "eos_knights" && action_name == "index" %>">
        <a class="nav-link" href="/dapps/eos_sanguos" data-no-turbolink="true">EOS三国</a>
      </li>

      <li class="nav-item <%="active" if controller_name == "eos_knights" && action_name == "rank" %>">
        <a class="nav-link" href="/dapps/eos_sanguos/rank" data-no-turbolink="true">交易排行</a>
      </li>
    </ul>
  </div>
</nav>
-->