<div class="container">
  <div class=" main_class w-16X float-l" >
    <%= render 'user_home/shared/nav' %>
  </div>
  <div class="main_class w-84X float-l ">
    <div class="pad-5">
      <div>
        <span>昵称：<%= current_user.name %></span>
      </div>
      <div>
        <hr class="border">
        <span><h2>TOP9</h2>
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#">我的收藏</a></li>
          <li role="presentation"><a href="#">原创</a></li>
          <li role="presentation"><a href="#">转载</a></li>
        </ul>
        </span>
        <!-- Example row of columns -->
        <div class="row bg-white">
          <% (1..9).each do  %>
              <div class="col-md-4">
                <h3><a href="#">[玄幻]风魔天下决</a></h3>
                <div class="h-180">
                  <span class="f-left">
                    <a href="#"><%= image_tag "demo.jpg", class: "w-120 h-150" %></a>
                  </span>
                  <span>
                    <a href="#">从小酷爱古玩的张天元，竟然在现实中学会了游戏里的鉴宝秘术。原本只懂得玩游戏，靠着脑补古玩满足自我的宅男，一朝翻身成了古玩鉴定界的后起之秀。赌石鉴宝，品评字画！美人倾慕，壮士归附！秘术在手，天下我有！</a>
                  </span>
                </div>
                <p><a class="btn btn-default" href="#" role="button">查看更多 »</a></p>
              </div>
          <%end %>
        </div>
      </div>
    </div>
  </div>
</div>

