<div class="container margint-20">
  <div class="row col-sm-12" >
    <%= render 'user_home/shared/nav' %>
  </div>
  <div class="row">
    <div class="col-sm-12">

      <% @collection_books.each_with_index do |book_relation, i|
        book = book_relation.book
        next unless book
      %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <%=link_to "[#{ book.classification.name rescue "其他"}] #{book.title}", book_path(book) %>
            <%= link_to '删除', uncollection_book_path(book), class: 'btn btn-sm btn-primary float-r'%>
          </div>
          <div class="panel-body">
            <% book_chapter = book.chapter_of_book_mark_by(current_user)
               if book_chapter
            %>
              书签: <%=link_to book_chapter.title, book_book_chapter_path(book, book_chapter) %>
            <%end %>
          </div>
        </div>
      <%end %>

    </div>
  </div>
</div>