<div class="content">
  <div class="book-header">
    <h1 class="book-title"><%= book_chapter.title %></h1>
  </div>
  <div class="book-main">
    <div class="col-sm-12 bg-white pad-5 book-content">
      <%=sanitize(book_chapter.content) %>
    </div>
  </div>
</div>