<div class="container">
  <h1>书籍列表</h1>
  <table class="table">
    <tr><td>序号</td><td>书籍名称</td><td>作者</td><td>类型</td><td>人气</td></tr>
    <% (1..9).each do |i| %>
      <tr><td><%= i %></td><td>六道传说</td><td>小白</td><td>玄幻</td><td>10000</td></tr>
    <% end %>
  </table>
</div>


