<div class="container">
  <div>
    <h1>六道传说</h1>
    <span>作者：小白</span>
  </div>

  <div class="row bg-white">
    <% (1..9).each do |i| %>
      <div class="col-md-4 margint-5px">
        <a> 第<%= i %>章 起源章节 </a>

      </div>
    <% end %>
  </div>
</div>
