upstream ordering_ik_production_unicorn {
  server unix:/tmp/unicorn.ordering_ik_production_unicorn.sock fail_timeout=0;
}
server {
	listen 80;
	server_name test.dc.ikcrm.com;

  root /data/dyne/ordering_ik_production/current/public;
  # individual nginx logs for this ordering_ik vhost
  access_log  /var/nginx/log/ordering_ik_production_access.log;
  error_log   /var/nginx/log/ordering_ik_production_error.log;

  location ^~ /assets/ {
    gzip_static on;
    expires max;
    add_header Cache-Control public;
  }

  try_files $uri/index.html $uri @unicorn;

  location @unicorn {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_pass http://ordering_ik_production_unicorn;
  }

  error_page 500 502 503 504 /500.html;
  client_max_body_size 4G;
  keepalive_timeout 10;
}

# include /etc/nginx/conf.d/*.conf;
# sudo ln -nfs /dyne/apps/ordering_ik_production/shared/config/nginx.conf /etc/nginx/conf.d/ordering_ik_production.config
#sudo /etc/init.d/nginx reload


#https://gitlab.com/gitlab-org/gitlab-ce/blob/master/README.md

#sudo gitlab-ctl restart

#sudo usermod -a -G gitlab nginx
#sudo chmod g+rx /var/opt/gitlab/
#sudo chmod g+rx /var/opt/gitlab/gitlab-rails/tmp/sockets

#sudo usermod -aG gitlab nginx
#sudo chmod 777 /var/opt/gitlab/gitlab-rails -R
