<div class="div1">
<div class="w_100X">
  <h3 style="color:red">吐槽区</h3>
  <div>
    <div id="talk_content" class="talk_content">
      <%= react_component 'Home', {url: talks_api_homes_path} %>
    </div>
    <div>
      <div class="whidth_50 talk_content_input">
        <input type="text" name="content" id="talk_detail_content" class="whidth_100" placeholder="输入文字" />
      </div>
      <div class="talk_content_input">
        <%if current_user %>
            <input type="submit" class="btn-primary btn" onclick="send_message(<%= current_user.id %>)" value="发送" />
        <%end %>
      </div>
    </div>
  </div>
</div>
</div>