<div class="container">
  <div class=" main_class w-16X float-l" >
    <%= render 'user_home/shared/nav' %>
  </div>
  <div class="main_class w-84X float-l ">
    <div class="container pad-5">
      <div>
        <span>昵称：<%= current_user.name %></span>
      </div>

    </div>
  </div>
</div>

