<div class="container margint-20">
  <div class="row col-sm-12" >
    <%= render 'user_home/shared/nav' %>
  </div>
  <div class="row">
    <div class=" col-sm-12">
      <span>昵称：<%= current_user.name %></span>
    </div>
  </div>
</div>

