// Place all the styles related to the book_volumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chapter_index{
	width: 24%;
	margin-top: 5px;
	margin-left: 0.8%;
	height: 72px;
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 10px;
}
#_book_chapter_content p {
  margin: 0 0 0 0 ;
}
