.book-show-volume-manage{
    padding: 15px 5px;
}

.book-volume-index {
    margin: -80px 0px  0px 160px
}

.content-style{
    background: white;
}

.book_list{
    margin-top: 15px;
}

.book_info{
    margin-left: -40px;
}
.book_info li{
    float:left;
    list-style-type: none;
    font-size: 12px;
    margin-right: 5px;
}

.author_book_info {
    margin-left: -30px;
}
.author_book_info li{
    list-style-type: none;
    font-size: 12px;
    margin-right: 5px;
}

.book_marks {
    margin-left: -30px;
}
.book_marks li{
    list-style-type: none;
    font-size: 14px;
    margin-right: 5px;
}

.book_status-0{}
.book_status-1{color: #419641;}
.book_status-2{color: #419641;}
.book_status-3{color: #eb9316;}
.book_status-4{color: red;}