.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}


.alert_msg {
    width: 200px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9999;
    padding: 10px;
}