// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div .f-left{
  display: block;
  float: left;
  margin-right: 10px;
}

.main_class{
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  //border: 1px solid #e1e1e8;
  //height: 100%;
}

.span_2{
  margin-top: 5px;
  display: block;
}

.talk_content{

}
.talk_content span{
  padding: 2px 5px;
}
.talk_content label{
  padding: 2px 5px;
  display: block;
  margin-bottom: 5px;
}
.talk_content_input{
  padding: 10px 20px;
  float: left;
}
.current_user{
  color:indianred;
}
.other_user{
  color:dodgerblue;
}

.talk_content{
  height: 500px;
  overflow: auto;
  border: 1px solid #dddddd;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}
.talk_content img{
  width: 150px;
}

.talk_send_btn{
  position: absolute;
  right: 40px;
  bottom: 50px;
}

.nickname{
  background:bisque;color: cornflowerblue;
}

.talk_content .time{
  color: #777;
}

.div1{
  padding: 10px;
}

.swap{
  cursor: pointer;
}

.emoticon-area img{
  cursor: pointer;
}

.emoticon-area img{
  .emoticon-area{
    height: 625px;
    overflow: auto;
  }
}

.emoticon-index{
  height: 90px;
  img{
    max-height: 80px;
  }
}