// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div .f-left{
  display: block;
  float: left;
  margin-right: 10px;
}

.main_class{
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  //border: 1px solid #e1e1e8;
  //height: 100%;
}

.span_2{
  margin-top: 5px;
  display: block;
}

.talk_content{

}
.talk_content span{
  padding: 2px 5px;
}
.talk_content label{
  padding: 2px 5px;
  display: block;
  margin-bottom: 5px;
}
.talk_content_input{
  padding: 10px 20px;
  float: left;
}
.current_user{
  color:indianred;
}
.other_user{
  color:dodgerblue;
}

.talk_content{
  height: 400px;
  overflow: auto;
  border: 1px solid #dddddd;
  padding: 10px;
  border-radius: 5px;
}
.nickname{
  background:bisque;color: cornflowerblue;
}
.div1{
  padding: 10px;
}