/*宽度 高度*/
.w-120{width: 120px}
.h-150{height: 150px}
.h-180{height: 180px}
.h-200{height: 200px}
.h-250{height: 250px}

.w-16X{width: 16%}
.w-84X{width: 84%}

.float-l{  float: left;  }
.float-r{  float: right;  }

.pad-5{  padding: 5px;  }

.border-common{
    border: 1px solid #e1e1e8;
}

.bg-white{
    background: white;
}

.border{
    border-bottom: 1px solid;
}

.margin-5px{
    margin: 5px;
}

.margint-5px{
    margin-top: 5px;
}

.float-r{
    float: right;
}