<style>
  .back-to-top {
    visibility: hidden;
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 45px;
    right: 10px;
    cursor: pointer;
    filter:alpha(opacity=50);  /* ie 有效*/
    -moz-opacity:0.5; /* Firefox  有效*/
    opacity: 0.5; /* 通用，其他浏览器  有效*/
  }
  .back-to-top .icon-arrow {
    position: relative;
    height: 26px;
    width: 38px;
    padding-top: 12px;
    border: 1px solid #e3e3e3;
    background-color: #fafafa;
    cursor: pointer;
  }
  .back-to-top .icon-arrow span {
    display: block;
    height: 17px;
    width: 33px;
    margin: 0 auto;
    background: url(/assets/top.png) no-repeat -1px -10px;
  }

  .back-to-bottom {
    visibility: hidden;
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    filter:alpha(opacity=50);  /* ie 有效*/
    -moz-opacity:0.5; /* Firefox  有效*/
    opacity: 0.5; /* 通用，其他浏览器  有效*/
  }

  .back-to-bottom .icon-arrow {
    position: relative;
    height: 26px;
    width: 38px;
    border: 1px solid #e3e3e3;
    background-color: #fafafa;
    cursor: pointer;
  }

  .back-to-bottom .icon-arrow span {
    display: block;
    height: 17px;
    width: 33px;
    margin: 0 auto;
    background: url(/assets/bottom.png) no-repeat -45px -55px;

  }
</style>

<div class="back-to-top" style="visibility: visible;">
  <div class="icon-arrow"> <span></span> </div>
</div>

<div class="back-to-bottom" style="visibility: visible;">
  <div class="icon-arrow"> <span></span> </div>
</div>

<script>
  function pageScrollTop(){
    //把内容滚动指定的像素数（第一个参数是向右滚动的像素数，第二个参数是向下滚动的像素数）
    window.scrollBy(0,-100);
    //延时递归调用，模拟滚动向上效果
    scrolldelay = setTimeout('pageScrollTop()',10);
    //获取scrollTop值，声明了DTD的标准网页取document.documentElement.scrollTop，否则取document.body.scrollTop；因为二者只有一个会生效，另一个就恒为0，所以取和值可以得到网页的真正的scrollTop值
    var sTop=document.documentElement.scrollTop+document.body.scrollTop;
    //判断当页面到达顶部，取消延时代码（否则页面滚动到顶部会无法再向下正常浏览页面）
    if(sTop==0) clearTimeout(scrolldelay);
  }

  function pageScrollBottom(){
    //把内容滚动指定的像素数（第一个参数是向右滚动的像素数，第二个参数是向下滚动的像素数）
    window.scrollBy(0,100);
    //延时递归调用，模拟滚动向上效果
    scrolldelay = setTimeout('pageScrollBottom()',10);
    //获取scrollTop值，声明了DTD的标准网页取document.documentElement.scrollTop，否则取document.body.scrollTop；因为二者只有一个会生效，另一个就恒为0，所以取和值可以得到网页的真正的scrollTop值
    var sBottom=document.documentElement.scrollTop + document.body.scrollTop;
    var wheight = $(window).height();
    var height = $(document).height();
    console.log(sBottom)
    console.log((height- wheight))
    if(sBottom >= (height- wheight - 0.5)) clearTimeout(scrolldelay);
  }

  $(".back-to-top").on("click", pageScrollTop);
  $(".back-to-bottom").on("click", pageScrollBottom);
</script>